.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 45px 200px 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #000000;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 1050px) {
  .page {
    padding: 45px 100px 0;
  }
}

@media screen and (max-width: 822px) {
  .page {
    padding: 45px 50px 0;
  }
}

@media screen and (max-width: 767px) {
  .page {
    padding: 28px 19px 0px;
  }
}
