.profile {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 19px;
    padding-right: 19px;
  }
}
