.header {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
  margin-bottom: 33px;
  padding-bottom: 45px;
  border-bottom:  1px solid #545454;
  padding-top: 45px;
}

@media screen and (max-width: 767px) {
  .header {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 33px;
  }
}
