.elements__item-footer {
  display: flex;
  justify-content: space-between;
  max-width: 246px;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 22px;
  margin-left: 17px;
  align-items: center;
}
