.profile__avatar {
  max-width: 120px;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: 9px;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    margin-right: 10px;
    margin-bottom: 26px;
  }
}
