.popup__inpute {
  margin-top: 0px;
  margin-right: 36px;
  margin-bottom: 26px;
  margin-left: 36px;
  padding:  0 0 10px 0;
  width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__inpute:last-of-type {
  margin-bottom: 49px;
}

@media screen and (max-width: 767px) {
  .popup__inpute {
    width: 238px;
    margin-right: 22px;
    margin-bottom: 30px;
    margin-left: 22px;
    padding:  0 0 7px 0;
  }
  .popup__inpute:last-of-type {
    margin-bottom: 44px;
  }
}
